body {
	background-color:black;
}

img {
	width:100%;
}

h1 {
	color:red;
	font-style:italic;
	font-size:100px;
	margin-top:5%;
}

.images {
	width:60%;
	height:40%;
	margin:5%;
	margin-left:20%;
	padding:1%;
}

.accordian {
	width:80%;
	margin:5%;
	margin-left:10%;
	padding:1%;
}

.carousel-indicators li {
	visibility:hidden;
}

.form-control {
	margin:2%;
}

.takeout-menu {
	margin:2%;
}

.takeout-list {
	list-style-type:none;
}

div.logo {
	width:24%;
	height:20%;
	overflow:hidden;
	float:left;
}

.logo img {
	width:100%;
}

.success {
	margin:15%;
}

.success p {
	color:red;
	font-size:50px;
}

.success h3 {
	color:red;
	font-size:80px;
}