img {
	width:100%;
}

.images {
	width:60%;
	height:40%;
	margin:5%;
	margin-left:20%;
	padding:1%;
}

.accordian {
	width:80%;
	margin:5%;
	margin-left:10%;
	padding:1%;
}

.carousel-indicators li {
	visibility:hidden;
}

.form-control {
	margin:2%;
}

.takeout-menu {
	margin:2%;
}

.takeout-list {
	list-style-type:none;
}